body {
  background-color: #FAE5D8;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 150px;
  margin: 40px auto 20px;
  border-radius: 10px;
}

img:hover {
  transform: scale(1.1);
  transition: transform 0.5s ease-in-out;
}

h1 {
  font-size: 2rem;
  font-family: Cambria, 'Times New Roman';
  font-weight: 900;
  letter-spacing: 3px;
  color: rgb(222, 56, 113);
  text-align: center;
  margin-top: 20px;
}

h1:hover {
  transform: scale(1.1);
  transition: transform 0.5s ease-in-out;
}

section {
  border-top: 4px dashed #ff6347;
  padding-top: 20px;
  margin-top: 40px;
}

p {
  font-size: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #34495e;
  text-align: center;
  margin: 20px;
}

